body {
    margin: 0;
    background: #000000;
}

/* Header styles */
.header-container {
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    align-items: left;
    min-height: 5%;
}

.logo {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    font-size: 45px;
    font-family: Monotype Corsiva;
    color: #D2B48C;
    font-weight: bold;
}

.header-item {
    width: 80%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    border-radius: 25px;
    color: #DCDCDC;
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
}

.header-container > a {
    text-decoration: none;
}

.header-item:hover {
    cursor: pointer;
    background: #4B0082;
}
/* about styles */
.about {
    background: url("img/about.jpg");
    background-size: cover;
}

.about-header {
    padding-top: 5%;
    padding-left: 20%;
    font-size: 60px;
    font-family: Cursive;
    color: #FAEBD7;
    font-style: italic;
    margin: 3%;
}

.about-text {
    width: 40%;
    padding-left: 10%;
    padding-top: 3%;
    text-align: justify;
    color: #FFFFF0;
    padding-bottom: 10%;
    margin: 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* feature styles */
.features {
    background: #000000;
    font-size: 50px;
    font-family: Cursive;
    color: #FAEBD7;
    font-style: italic;
    text-align: center;
}

.features-header {
    margin: 0;
}

.feature_blocks {
    background: url("img/features.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    min-height: 450px;
    padding-right: 30%;
}

.feature_b {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.feature_b-header {
    color: #F5DEB3;
    padding-top: 10%;
    padding-left: 20%;
    font-size: 25px;
    font-family: Cursive;
    font-style: italic;
}

.feature_b-text {
    width: 100%;
    text-align: justify;
    color: #FFFFF0;
    font-family: Arial, sans-serif;
    font-style: oblique;
    font-size: 18px;
}
li {
    padding-top: 3%;
    padding-bottom: 3%;
}
/* button style */
.open_bot{
    background: #000000;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
button {
  display: inline-block;
  padding: 1% 1%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4B0082;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {
    background-color: #3e8e41
}


button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* footer styles */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: static;
    bottom: 0;
    min-height: 40px;
    background: #000000;
}

.footer-item {
    text-align: left;
    padding-right: 2%;
    padding-left: 2%;
    color: gray;
    font-size: 15px;
}

.push {
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
    color: gray;
    font-size: 15px;
}

.footer-item > a {
    text-decoration: none;
    color: gray;
}

.push > a {
    text-decoration: none;
    color: gray;
}


/* adapt styles*/
@media (max-width: 800px) {
    /* Header styles */
    .header-container {
        grid-template-columns: 40% 20% 20% 20%;
    }
    .logo {
        font-size: 25px;
    }
        .header-item {
        font-weight: 500;
        font-size: 15px;
    }
    .header-item:hover {
        cursor: pointer;
        background: none;
        height: 40%;
    }
    /* about styles */
    .about {
        background: url("img/about-mob.jpg");
        background-size: 100%;
    }
    .about-header {
        font-size: 25px;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .about-text {
        width: 48%;
        padding-left: 5%;
        font-size: 12px;
        padding-top: 4%;
        padding-bottom: 10%;
    }
    /* feature styles */
    .features-header {
        font-size: 25px;
    }
    .feature_blocks {
        display: flex;
        flex-direction: column;
        min-height: 250px;
        padding-right: 15%;
    }
    .feature_b {
        width: 60%;
    }
    .feature_b-header {
        padding-top: 3%;
        padding-left: 30%;
        font-size: 25px;
    }
    .feature_b-text {
        width: 100%;
        font-size: 16px;
    }
    button {
      padding: 2% 2%;
      font-size: 20px;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
    }
    .footer-item {
        text-align: left;
        font-size: 15px;
    }
    .push {
        margin-left: auto;
        font-size: 15px;
    }
}


